mpr-classical|MPR - Classical|http://classicalstream1.publicradio.org:80/|blue
current|The Current|http://currentstream1.publicradio.org:80/|blue
weather|Weather Radio - 55420|http://audioplayer.wunderground.com/tim273/edina|cyan
