mpr-classical|MPR - Classical|http://cms.stream.publicradio.org/cms.mp3|blue
current|The Current|http://current.stream.publicradio.org/current.mp3|blue
weather|Weather Radio - Minneapolis|https://radio.weatherusa.net/NWR/KEC65.mp3|cyan
